.Product{
 display: flex;
 flex-direction: row;
 margin-top: 20px;
 width: 100%;
 justify-content: space-around;
}
@media (max-width: 768px){
    .Product{
        display:grid;
        width: 100%;
        flex-direction: column;
        grid-template-columns: repeat(2,1fr);
        gap: 20px;
    }
}
.card{
    height: fit-content;
    border-radius: 10px;
}

button{
    background-color: black;
    color: white;
    width: fit-content;
    padding: 10px;
    border-radius: 10px;
    display: block;
    margin: 0 auto;
    font: 1.5rem;
}

button:hover{
    background-color: white;
    color: black;
}